* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.navbar a {
    color: white !important;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link:hover {
    color: lightcyan !important;
}

.hero {
    background: url('./image/tierra-mallorca-rgJ1J8SDEAY-unsplash.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 0;
}

#about {
    background: url('./image/benno-klandt-Qr5pi1_GlvY-unsplash.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 0;

}

.card {
    border: 2px solid #000;
    padding: 15px;
    border-radius: 10px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.btn-center {
    display: flex;
    justify-content: center;
}

.section {
    padding: 60px 0;
}